
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header {
    grid-area: header;
    height: 50px;
    background-color: grey;
}


.producto-card {
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease; /* Transici칩n suave para la animaci칩n */
}

/* Animaci칩n: Cuando el usuario pasa el mouse por encima */
.producto-card:hover {
    transform: scale(1.05); /* Hace que la tarjeta crezca un 5% */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* (A침ade estilos CSS para organizar el grid como quieras) */
